body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.menuButton{
  width: auto;
  display: inline-block;
  text-align: right;
}

/* .Polaris-Subheading{
  display: inline-block
}

.Polaris-Card__Section  .Polaris-Card__Section{
display: inline-block;
border: none;
width: 400px;
box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);
margin: 10px;
} */

.Polaris-Card .Polaris-Card{
  width: 300px;
  display: inline-block;
  border: none;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);
  margin: 10px;
}